/* header.css */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: var(--spacing-md);
    font-size: var(--font-size-md);
    color: var(--text-color-dark);
}
